---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
---

<Layout title="Home Page">
  <Hero />
  <div class="mt-12 text-center">
    <h2 class="text-3xl font-bold mb-4">Coming Soon</h2>
    <p class="text-lg">Our Digital Home: Spreading the Word for Programming Education</p>
  </div>
</Layout>
