---
// src/components/Footer.astro
---
<footer class="bg-[#79D4FD] text-black mt-12">
    <div class="container mx-auto px-4 py-6 text-center">
        <p>&copy; {new Date().getFullYear()} Nutschool. All Rights Reserved.</p>
    </div>
</footer>
